[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "json-framework"]
	path = json-framework
	url = git://github.com/stig/json-framework.git
